<h1>Employees of Knack System</h1>
<ul>
    <li><a href="https://www.w3schools.com">Emoplyee names</a></li>
    <li><a href="https://www.w3schools.com">Employee age</a></li>
    <li><a href="https://www.w3schools.com">Employee Department</a></li>
    <li><a href="https://www.w3schools.com">Employee Salary</a></li>
</ul>